@font-face {
  font-family: 'TalixoIcons';
  src: url('./TalixoIcons.eot');
  src: url('./TalixoIcons.eot?#iefix') format('eot'),
       url('./TalixoIcons.woff2') format('woff2'),
       url('./TalixoIcons.woff') format('woff'),
       url('./TalixoIcons.ttf') format('truetype'),
       url('./TalixoIcons.svg#TalixoIcons') format('svg');
}

.tai:before {
  font-family: 'TalixoIcons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
}


.tai-affiliate:before {
  content: '\E001';
}

.tai-api:before {
  content: '\E002';
}

.tai-arrow_right_light:before {
  content: '\E003';
}

.tai-avatar:before {
  content: '\E004';
}

.tai-banners:before {
  content: '\E005';
}

.tai-bed:before {
  content: '\E006';
}

.tai-bullet_ltr:before {
  content: '\E007';
}

.tai-calendar_outline:before {
  content: '\E008';
}

.tai-check_sign:before {
  content: '\E009';
}

.tai-child:before {
  content: '\E00A';
}

.tai-circle:before {
  content: '\E00B';
}

.tai-dog:before {
  content: '\E00C';
}

.tai-golf_sticks:before {
  content: '\E00D';
}

.tai-heart:before {
  content: '\E00E';
}

.tai-hotel:before {
  content: '\E00F';
}

.tai-increase_volume:before {
  content: '\E010';
}

.tai-lock_outline:before {
  content: '\E011';
}

.tai-luggage:before {
  content: '\E012';
}

.tai-mobile_apps:before {
  content: '\E013';
}

.tai-moon_outline:before {
  content: '\E014';
}

.tai-rocket:before {
  content: '\E015';
}

.tai-seat_big:before {
  content: '\E016';
}

.tai-seat_small:before {
  content: '\E017';
}

.tai-sun_outline:before {
  content: '\E018';
}

.tai-tools:before {
  content: '\E019';
}

.tai-touch:before {
  content: '\E01A';
}

.tai-whitelabel:before {
  content: '\E01B';
}

.tai-widget:before {
  content: '\E01C';
}
